* {
  box-sizing: border-box;
}

#root {
  color: black;
  height: 100vh;
  width: 100vw;
}

body {
  margin: 0px;
  background-color: white;
  color: white;
  font-family: Open Sans, sans-serif;
  height: 100vh;
  width: 100vw;
}
.drop-container {
  width: 30%;
  height: fit-content;
  padding: 12px;
  gap: 18px;
}
.drop-form {
  width: 100%;
  height: max-content;
  flex: 1 1 auto;
}
.main-container {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.cv-container {
  flex: 1 1 auto;
  border: 1px solid black;
  min-height: 95vh;
  box-shadow: 3px 3px lightgrey, -3px -3px lightgrey;
}
.form-container {
  width: 80%;
  margin: 0px auto;
}

.main-header {
  align-items: center;
  font-size: 36px;
  height: 2.75em;
  margin: 0px;
  color: white;
  background-color: rgb(35, 35, 163);
}

.personal-header {
  justify-content: center;
  align-items: center;
  height: 2.75em;
  max-height: 30%;
  margin: 0px;
  color: white;
  background-color: rgb(35, 35, 163);
  flex: 1 1 auto;
  padding: 20px;
}

.name-header {
  font-size: 40px;
}
.dropdown {
  flex: 1 1 auto;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  padding: 8px;
  color: black;
  border-bottom: 1px solid black;
}
.drop-header {
  font-weight: normal;
}

/*.pd-form {
  border: 1px solid black;
  padding: 10px;
  gap: 20px;
}*/
.flex-row {
  display: flex;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.wrapper {
  gap: 10px;
  border: 1px solid black;
  border-radius: 5px;
}
label {
  display: block;
  color: black;
  font-size: 20px;
}
input {
  height: 33px;
  width: 90%;
  flex: 1 1 auto;
  font-size: 15px;
  border-radius: 5px;
  border: none;
  background-color: rgb(239, 236, 236);
}
.input-container {
  flex: 1 1 auto;
  gap: 12px;
  margin: 5px;
}

.hide {
  display: none;
}
.entries {
  margin-right: 15px;
  justify-content: space-between;
  font-size: 20px;
}
.add {
  margin: 12px auto;
  font-size: 18px;
  color: grey;
}
.form-header {
  font-size: 18px;
}
p {
  color: black;
  font-size: 18px;
}
.description {
  height: 50px;
}
.education,
.experience {
  color: black;
  border: 1px solid black;
  text-align: center;
  background-color: rgb(240, 235, 235);
}
span,
em {
  display: block;
}
.gap {
  gap: 75px;
}
textarea {
  height: 150px;
  width: 90%;
  margin: 5px;
  border-radius: 5px;
}
